<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AQAAAA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	QQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>backlight-level</key>
	<data>
	XAY=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	byFcCgAAAABQFMSOj/sqdg==
	</data>
	<key>csr-active-config</key>
	<data>
	5wMAAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjYxQTQyRTAwLUM2
	OTktNEQzQy1CQzUyLTdEOUZBQ0U5RjgyNzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBCAoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABg3KUOAAAA
	AAAupGGZxjxNvFJ9n6zp+CcCAgQDJAD3/HS+fAvzSZFHAfQELmhCI8qc3Vyzvka8r2tx
	Yov7Ln//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWFjQm9vayBBaXIgKEFkcmlhbik=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cGw6MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
</dict>
</plist>