<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AQAAAA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	gA==
	</data>
	<key>backlight-level</key>
	<data>
	2Qo=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	byFcCgAAAABQFMSOj/sqdg==
	</data>
	<key>csr-active-config</key>
	<data>
	5wMAAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjYxQTQyRTAwLUM2
	OTktNEQzQy1CQzUyLTdEOUZBQ0U5RjgyNzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBCAoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABg3KUOAAAA
	AAAupGGZxjxNvFJ9n6zp+CcCAgQDJAD3/HS+fAvzSZFHAfQELmhCI8qc3Vyzvka8r2tx
	Yov7Ln//BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	QWNlckJvb2sgKEFkcmlhbiBSdXBhbGEp
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQWFBQUFBQkx3SUFBQUFBRnVIOVdBUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFDX1UxUVFJUkUyemZvN2VjNC0xb3lnbzgtN3ozMng3ZEtldUpZ
	djhKNGctOFNYdnhjbGMxTjVMZkVSazFjUTBqZzF5NWhBMmFjX3JOUS02SktGcmo5S3BT
	WGRHaE9WZHREeVNxZE1KZkI4N1hfSWh4WG55TnpZaDBDSURnUTdGLWZsSXh2S1BVTlht
	YV9QUUxKTEgxbGl1Y2Q3aFF+fhEB9V8QE2Fkcml4b3A5NUBnbWFpbC5jb21ZNDA0MTAy
	NTI4I0HW4f1Za2FaXxAkQ0I2REVCNDctMzlGOC00RkMxLTkwQTgtN0JFNkRBOTI1QkVF
	0xcYGRobHF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5h
	bWVfEBJJblVzZU93bmVyTGFzdE5hbWVdQWRyaWFuIFJ1cGFsYVZBZHJpYW5WUnVwYWxh
	0Q8e1B8gISIjJCUmVmFwc0Vudlhob3N0bmFtZV1hdXRoTWVjaGFuaXNtVnNjaGVtZVpQ
	cm9kdWN0aW9uXxATcDI4LWZtaXAuaWNsb3VkLmNvbVV0b2tlblVodHRwcwAIACEAMwBI
	AFIAYQBoAHYAfwCIAJAAlQCeALQAtgC4ANwBqwGuAcQBzgHXAf4CBQIdAjMCSAJWAl0C
	ZAJnAnACdwKAAo4ClQKgArYCvAAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAALC
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cGw6MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
</dict>
</plist>